 <h1> I'm still alive! </h1>
<h1> Timothy Alan Heaton </h1>
<img src= "my-nice-photo.jpg" />
<img src="http://hdwallsource.com/germany-10179.html"
     <a href= "http://bootsnall.com/europe-germany"> German Travel website! </a>
<h2> I am a Federal Project Manager for EMC.  I work in the Utah COE.  I am part of the Professional Services Department and I am a member of the Virtual Service Delicery Team. </h2>
<p> I have never actually wanted to code.  I really enjoy technical things and I think coding would be fun to learn and a lot of fun to do.  I really enjoy communicating with people.  I am afraid that if I became a successful programmer that I would really miss interacting with peopl.  I have very much enjoyed the MSIS program and this assignment has been challenging but a real blast so far! </p>
<a href= "http://http://www.harrogaterugby.com/s/the-team-10539.html?player_id=104101"> read more! </a>