 <h1> Welcome to my Twitter profile! </h1>
<div class=profile>
  
<h1> Timothy Alan Heaton </h1>
<img src= "my-nice-photo.jpg" />
<img src= "http://s3.germany.travel/media/content/gut_zu_wissen_1/bundeslaender/hamburg/MAW_08_003_RET.jpg" />
     <a href= "https://www.ricksteves.com/europe/germany/itinerary"> German Travel website! </a>
<h2> I am a Federal Project Manager for EMC.  I work in the Utah COE.  I am part of the Professional Services Department and I am a member of the Virtual Service Delivery Team. </h2>
<p> I have never actually wanted to code.  I really enjoy technical things and I think coding would be fun to learn and a lot of fun to do.  I really enjoy communicating with people.  I am afraid that if I became a successful programmer that I would really miss interacting with people.  I have very much enjoyed the MSIS program and this assignment has been challenging but a real blast so far! </p>
<a href= "http://www.sltrib.com/news/2534869-155/money-laundering-charge-filed-against-former-ag"> read more! </a>
</div>
<img src= "http://placekitten.com/g/50/50 " />
