.profile {background: lightgray;
padding: 10px;
marging: 10px;
text-align: center;}
.profile h1{font-size: 16px;
text-transform: uppercase;}
.profile img{width: 100 px;
height: 100 px;
border-radius: 50 px;}
html { 
  background: url('http://bit.ly/flickr-img') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }